<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<div><a href="/">Home</a></div>

<h3>Complete Player List</h3>
		<table border="1" cellpadding="3">
			<thead>
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				<% playerList.forEach(attendee => {
					const isKnownPlayer = attendee.attendeeSummary[0].userSummary.ratingOverall;

				%>
					<tr class="<%= isKnownPlayer ? 'player-known' : 'player-new' %>">
						<td><a href="/player?id=<%= attendee.attendeeSummary[0].userSummary.userID %>"><%= attendee.attendeeSummary[0].userSummary.userID %></a></td>
						<td><%= attendee.attendeeSummary[0].userSummary.firstName %></td>
						<td><%= attendee.attendeeSummary[0].userSummary.lastName %></td>
						<td><%= attendee.attendeeSummary[0].userSummary.ratingOverall || 'Not Rated' %></td>
					</tr>
				<% }) %>
			</tbody>
		</table>

<h3>Known Player List</h3>
		<table border="1" cellpadding="3">
			<thead>
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				<% knownPlayerList.forEach(player => {

				%>
					<tr>
						<td><a href="/player?id=<%= player.openSportsUserId %>"><%= player.openSportsUserId %></a></td>
						<td><%= player.firstName %></td>
						<td><%= player.lastName %></td>
						<td><%= player.ratingOverall %></td>
					</tr>
				<% }) %>
			</tbody>
		</table>



		

		<pre><%= JSON.stringify(gameInfo) %></pre>
		<pre><%= JSON.stringify(playerList) %></pre>
	</body>
</html>
