<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>!!!!!!!</p>
    <% 
      if (!groupInfo) {
    %>
    <p>No Open Sports group is defined, <a href="/config">configure one now</a>.</p>
    <% } else { %>

    <p><%= groupInfo.name %> [ <a href="/config">configure</a> ]</p>
    <% } %>

    <p>groupInfo-: <%- groupInfo %></p>
    <p>groupInfo=: <%= groupInfo %></p>
  </body>
</html>
